<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app id="jmslab-webapp">
	<display-name>JMS-Lab-Client</display-name>
	<description>
		Client pour l'application JMS Labs
  	</description>
	
	<servlet>
		<servlet-name>JmsLabClient</servlet-name>
		<servlet-class>eu.akka.labs.client.JmsLabsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>JmsLabClient</servlet-name>
		<url-pattern>/jmsLabClient</url-pattern>
	</servlet-mapping>
	
</web-app>
