# General
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
*.log

# Mac files
.DS_Store
._*

# Java
.class

# Maven
target/

# Eclipse
.project
.metadata
bin/
local.properties
.classpath
.settings/
.loadpath

# SVN
.svn/

# sbt specific
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

